<!--NOVO TAMPLATE (MAYELLE)-->

{% extends "flash_base.html" %}

{% block title %}
    News Feed | Check what your friends are doing
{% endblock title %}

{% block body_container %}
    <!-- Newsfeed Common Side Bar Left-->
    <div class="col-md-3 static">
            {% include 'flash_menu_opcoes.html' %}
    </div>

    <div class="col-md-7">
            <!--Alerts-->
            {% include 'flash_alert_msg.html' %}

            <!-- Post Create Box -->
            {% include 'flash_add_post.html' %}

            <!-- Lista de Posts-->
            {% include 'flash_list_post.html' %}
    </div>

    <!-- Newsfeed Common Side Bar Right-->
    <div class="col-md-2 static">
        {% include 'flash_sugestoes.html' %}
    </div>
{% endblock body_container %}