<!--NOVO TAMPLATE (MAYELLE)-->

<div class="suggestions" id="sticky-sidebar">
    <h4 class="grey">Encontre seus amigos</h4>
    <div class="follow-user">

        {% if usuarios_nao_amigo.0.username == None %}
        <h5>Sem sugestões de amizade.</h5>
        {% else %}
            {% for usuario in usuarios_nao_amigo %}
            <img src="{{usuario.perfil.foto_perfil.url}}" alt="" class="profile-photo-sm pull-left"/>
            <div>
                <h5><a href="{% url 'exibir_usuario' usuario.id %}">{{usuario.first_name}}
                    {{usuario.last_name}}</a></h5>
                <a href="{% url 'enviar_pedido' usuario.id %}" class="text-green">Adicionar aos amigos</a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
</div>
