{% extends "flash_base.html" %}

{% block body_container %}
<!--Header End-->

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="">
            <!--Timeline Menu for Large Screens-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3">
                    {% include 'flash_menu_opcoes.html' %}
                </div>
                <div class="col-md-6">
                    {% include 'flash_list_friends_requests.html' %}
                </div>
                <div class="col-md-3">
                    {% include 'flash_sugestoes.html' %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body_container %}