<!--NOVO TAMPLATE (MAYELLE)-->
{% if posts.0.usuario == None %}
<div class="about-content-block">
    <div class="organization">
        <div class="work-info">
            <h5 align="center">Vamos lá, publique, adicione amigos, vamos movimentar seu FlashFeed :)</h5>
        </div>
        <br/>
        <br/>
    </div>
</div>
{% else %}
    {% for post in posts %}
    <div class="post-content">
        <div class="post-container">
            {% if post.colecao != None %}
            <img src="{{post.colecao.foto_perfil}}" alt="user" class="profile-photo-md pull-left"/>
            {% else %}
            <img src="{{post.usuario.foto_perfil.url}}" alt="user" class="profile-photo-md pull-left"/>
            {% endif %}
            <div class="post-detail">
                <div class="user-info">
                    {% if post.colecao != None %}
                    <h5><a href="{% url 'exibir_colecao' post.colecao.id %}"
                           class="profile-link">{{post.colecao.titulo}}</a></h5>
                    <p class="text-muted">{{post.descricao}}</p>
                    {% else %}
                    {% if post.usuario.id == user.id %}
                    <h5><a href="{% url 'exibir_minha_timeline'%}" class="profile-link">{{post.usuario}}</a></h5>
                    {% else %}
                    <h5><a href="{% url 'exibir_usuario' post.usuario_id %}" class="profile-link">{{post.usuario}}</a></h5>
                    {% endif %}
                    <p class="text-muted">{{post.descricao}}</p>
                    {% endif %}
                </div>
                <div class="reaction">
                    <!--<a class="btn text-green"><i class="icon ion-thumbsup"></i> {{post.aplausos}}</a>-->
                    <a class="btn" href="{% url 'post_detail' post.id %}">Ver publicação</a>
                </div>
                <div class="line-divider"></div>
                {% if post.compartilhado != None %}
                <div class="post-content">
                    <div class="post-container">
                        {% if post.compartilhado.colecao == None %}
                            <h6>Compartilhado de {{post.compartilhado.usuario}} </h6>
                            <img src="{{post.compartilhado.usuario.foto_perfil.url}}" alt="user"
                                     class="profile-photo-md pull-left"/>
                            <div class="post-detail">
                                <div class="user-info">
                                    {% if post.compartilhado.usuario.id == user.id %}
                                        <h5><a href="{% url 'exibir_minha_timeline'%}" class="profile-link">{{post.compartilhado.usuario}}</a>
                                    </h5>
                                    {% else %}
                                        <h5><a href="{% url 'exibir_usuario' post.compartilhado.usuario.id %}" class="profile-link">{{post.compartilhado.usuario}}</a></h5>
                                    {% endif %}
                                    <p class="text-muted">{{post.compartilhado.descricao}}</p>
                                </div>
                            </div>
                        {% else %}
                            <h5>Compartilhado de {{post.compartilhado.colecao.titulo}} </h5>
                            <img src="{{post.compartilhado.colecao.foto_perfil}}" alt="user"
                                     class="profile-photo-md pull-left"/>
                            <div class="post-detail">
                                <div class="user-info">
                                    <h5><a href="{% url 'exibir_colecao' post.compartilhado.colecao.id %}"
                                               class="profile-link">{{post.compartilhado.colecao.titulo}}</a></h5>
                                        <p class="text-muted">{{post.compartilhado.descricao}}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if post.compartilhado.foto %}
                            <img src="{{post.compartilhado.foto.url}}" alt="post-image" class="img-responsive post-image"/>
                            {% endif %}
                            {% if post.compartilhado.video %}
                            <video class="post-video" controls>
                                <source src="{{ post.compartilhado.video.url }}{{ videofile }}" type="video/mp4">
                            </video>
                            {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if post.foto %}
                <img src="{{post.foto.url}}" alt="post-image" class="img-responsive post-image"/>
                {% endif %}
                {% if post.video %}
                <video class="post-video" controls>
                    <source src="{{ post.video.url }}{{ videofile }}" type="video/mp4">
                </video>
                {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}
{% endif %}