<!-- Brand and toggle get grouped for better mobile display -->
{% load i18n%}
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" /></a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right main-menu">
        <li class="dropdown"><a href="index.html">{% trans 'Home' %}</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Newsfeed' %}<span><img src="images/down-arrow.png" alt="" /></span></a>
            <ul class="dropdown-menu newsfeed-home">
                <li><a href="newsfeed.html">{% trans 'Newsfeed' %}</a></li>
                <li><a href="newsfeed-people-nearby.html">{% trans 'People Nearly' %}</a></li>
                <li><a href="old_flash_friends.html">{% trans 'My friends' %}</a></li>
                <li><a href="newsfeed-messages.html">{% trans 'Chatroom' %}</a></li>
                <li><a href="newsfeed-images.html">{% trans 'Images' %}</a></li>
                <li><a href="newsfeed-videos.html">{% trans 'Videos' %}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Timeline' %}<span><img src="images/down-arrow.png" alt="" /></span></a>
            <ul class="dropdown-menu login">
                <li><a href="timeline.html">{% trans 'Timeline' %}</a></li>
                <li><a href="timeline-about.html">{% trans 'Timeline About' %}</a></li>
                <li><a href="timeline-album.html">{% trans 'Timeline Album' %}</a></li>
                <li><a href="timeline-friends.html">{% trans 'Timeline Friends' %}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'All Pages' %} <span><img src="images/down-arrow.png" alt="" /></span></a>
            <ul class="dropdown-menu page-list">
                <li><a href="index.html">{% trans 'Landing Page' %}</a></li>
                <li><a href="newsfeed.html">{% trans 'Newsfeed' %}</a></li>
                <li><a href="newsfeed-people-nearby.html">{% trans 'People Nearly' %}</a></li>
                <li><a href="old_flash_friends.html">{% trans 'My friends' %}</a></li>
                <li><a href="newsfeed-messages.html">{% trans 'Chatroom' %}</a></li>
                <li><a href="newsfeed-images.html">{% trans 'Images' %}</a></li>
                <li><a href="newsfeed-videos.html">{% trans 'Videos' %}</a></li>
                <li><a href="timeline.html">{% trans 'Timeline' %}</a></li>
                <li><a href="timeline-about.html">{% trans 'Timeline About' %}</a></li>
                <li><a href="timeline-album.html">{% trans 'Timeline Album' %}</a></li>
                <li><a href="timeline-friends.html">{% trans 'Timeline Friends' %}</a></li>
                <li><a href="contact.html">{% trans 'Contact Us' %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="contact.html">{% trans 'Contact' %}</a></li>
    </ul>
    <form class="navbar-form navbar-right hidden-sm">
        <div class="form-group">
            <i class="icon ion-android-search"></i>
            <input type="text" class="form-control" placeholder="Search friends, photos, videos">
        </div>
    </form>
</div><!-- /.navbar-collapse -->