<!--NOVO TAMPLATE (MAYELLE)-->

<div class="friend-list">
    <div class="row">
        {% for colecao in colecoes %}
        <div class="col-md-6 col-sm-6">
            <div class="friend-card">
                <img src="{{colecao.capa}}" alt="profile-cover" class="img-responsive cover"/>
                <div class="card-info">
                    <img src="{{colecao.foto_perfil}}" alt="user" class="profile-photo-lg"/>
                    <div class="friend-info">
                        {% if colecao.autor == user.id %}
                            <h5 class="pull-right text-red">Administrador</h5>
                        {% else %}
                            {% if user.id in colecao.seguidores %}
                                <h5 class="pull-right text-red">Seguindo</h5>
                            {% endif %}
                        {% endif %}
                        <h5><a href="{% url 'exibir_colecao' colecao.id %}" class="profile-link">{{colecao.titulo}}</a></h5>
                        <p>@{{colecao.nome_autor}}</p>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</div>
{% include 'flash_friends_pagination.html' %}
