<!--NOVO TAMPLATE (MAYELLE)-->

{% extends "flash_base.html" %}

{% block title %}
TimeFlash | Meu perfil flash
{% endblock title%}

{% block body_container %}
<div class="container">

    <div class="timeline">
        <div class="timeline-cover" style="background: url('{{usuario.perfil.capa.url}}');">
            {% include 'flash_perfil_cabecalho.html' %}
        </div>
            <div id="page-contents">
                <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    {% if usuario.id == user.id %}
                        {% include 'flash_alert_msg.html' %}
                        {% include 'flash_add_post.html' %}
                    {% else %}
                        <div class="create-post">
                            <div class="row">
                            </div>
                        </div>
                    {% endif %}

                    {% if eh_amigo == False and usuario.id != user.id %}
                        <div class="about-content-block">
                            <div class="organization">
                                <div class="work-info">
                                    <h5 align="justify"> Você e {{usuario.first_name}} não são amigos :(</h5>
                                    <h5> Que tal enviar uma solicitação de amizade para visualizar suas publicações ?</h5>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    {% endif %}
                    {% if posts.0.id == None and eh_amigo == True %}
                        <div class="about-content-block">
                            <div class="organization">
                                <div class="work-info">
                                    {% if usuario.id == user.id %}
                                    <h5 align="center"> Você não tem publicações em seu perfil. Vamos, lá faça uma
                                        publicação agora :)</h5>
                                    {% else %}
                                    <h5 align="center"> {{usuario.first_name}} não tem publicações em seu perfil. </h5>
                                    {% endif %}

                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    {% else %}
                    {% for post in posts %}
                    <div class="post-content">
                        <!--Post Date-->
                        <div class="post-date hidden-xs hidden-sm">
                            <h5>{{usuario.first_name}}</h5>
                            <p class="text-grey">Sometimes ago</p>
                        </div><!--Post Date End-->

                        <!-- Imagem de post !-->
                        <!-- <img src="images/post-images/12.jpg" alt="post-image" class="img-responsive post-image"/> !-->
                        <div class="post-container">
                            <img src="{{usuario.perfil.foto_perfil.url}}" alt="user"
                                 class="profile-photo-md pull-left"/>
                            <div class="post-detail">
                                <div class="user-info">
                                    <h5><a href="timeline.html" class="profile-link">{{usuario.first_name}}
                                        {{usuario.last_name}}</a></h5>
                                    <p class="text-muted">Publicação feita em {{post.criado_em}}</p>
                                </div>
                                <div class="reaction">
                                    <a class="btn" href="{% url 'post_detail' post.id %}">Ver publicação</a>
                                </div>
                                <p class="text-muted">{{post.descricao}}</p>



                                <div class="line-divider"></div>

                {% if post.compartilhado != None %}
                    <div class="post-content">
                        <div class="post-container">
                            {% if post.compartilhado.colecao == None %}
                                <h6>Compartilhado de {{post.compartilhado.usuario}} </h6>
                                <img src="{{post.compartilhado.usuario.foto_perfil.url}}" alt="user" class="profile-photo-md pull-left"/>
                                <div class="post-detail">
                                    <div class="user-info">
                                        {% if post.usuario.id == user.id %}
                                        <h5><a href="{% url 'exibir_minha_timeline'%}" class="profile-link">{{post.compartilhado.usuario}}</a></h5>
                                        {% else %}
                                        <h5><a href="{% url 'exibir_usuario' post.usuario_id %}" class="profile-link">{{post.compartilhado.usuario}}</a></h5>
                                        {% endif %}
                                        <p class="text-muted">{{post.compartilhado.descricao}}</p>
                                    </div>
                                    {% else %}
                                    <h5>Compartilhado de {{post.compartilhado.colecao.titulo}} </h5>
                                    <img src="{{post.compartilhado.colecao.foto_perfil}}" alt="user"
                                         class="profile-photo-md pull-left"/>
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a href="{% url 'exibir_colecao' post.compartilhado.colecao.id %}"
                                                   class="profile-link">{{post.compartilhado.colecao.titulo}}</a></h5>
                                            <p class="text-muted">{{post.compartilhado.descricao}}</p>
                                        </div>
                                        {% endif %}

                                <!--<div class="reaction">-->
                                    <!--<a class="btn text-green"><i class="icon ion-thumbsup"></i> {{post.compartilhado.aplausos}}</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                        {% if post.compartilhado.foto %}
                        <img src="{{post.compartilhado.foto.url}}" alt="post-image" class="img-responsive post-image"/>
                        {% endif %}
                        {% if post.compartilhado.video %}
                        <video class="post-video" controls>
                            <source src="{{ post.compartilhado.video.url }}{{ videofile }}" type="video/mp4">
                        </video>
                        {% endif %}
                    </div>
                {% endif %}
                            </div>
                        </div>
                        {% if post.foto %}
                        <img src="{{post.foto.url}}" alt="post-image" class="img-responsive post-image"/>
                        {% endif %}
                        {% if post.video %}
                        <video class="post-video" controls>
                            <source src="{{ post.video.url }}{{ videofile }}" type="video/mp4">
                        </video>

                        {% endif %}
                    </div>

                    <div id="MyModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">Publicação #{{post.id}}</div>
                                <div class="modal-body">Você deseja excluir essa publicação?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'delete_post' 'dt' post.id  %}">
                                        <button type="button" class="btn btn-primary">Deletar publicação</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- Paginação -->
                {% include 'flash_posts_pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_container %}
<!-- Alerts -->

