{% for perfil in perfis %}
    <div class="post-content">
        <div class="post-container">
            <img src="{{perfil.foto_perfil.url}}" alt="user" class="profile-photo-md pull-left"/>
            <div class="post-detail">
                <div class="user-info">

                    <h5><a href="{% url 'exibir_usuario' perfil.usuario.id %}" class="profile-link">{{perfil.usuario.first_name}} {{perfil.usuario.last_name}}</a></h5>
                    <p class="text-muted">
                        @{{perfil.usuario}}
                    </p>
                    <div>
                        <ul class="contact">

                            {% if perfil.usuario.is_superuser %}
                                <li><a href="{% url 'definir_usuario_comum' perfil.id %}"><i class="fa fa-user"></i> Definir como Usuário Comum?</a></li>
                            {% else %}
                                <li><a href="{% url 'definir_super_usuario' perfil.id %}"><i class="fa fa-user-o"></i> Definir como Super Usuário?</a></li>
                            {% endif %}
                            <li><a href="{% url 'superuser_gerenciar_posts' perfil.id %}"> <i class="fa fa-file-text-o"></i> Gerenciar Posts?</a></li>
                            <li><a href="#"> <i class="fa fa-users"></i> Gerenciar Amigos?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
