<p>
  <center><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Visualizar comentários
  </a></center>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      {% if post.comentarios.count == 0 %}
            <h5>Não há comentários para esta publicação.</h5>
      {% else %}
          {% for comentario in post.comentarios.all %}
                <div class="post-content">
                        <div class="post-container">
                            {%if post.colecao == None %}
                                <img src="{{comentario.usuario.foto_perfil.url}}" alt="user"
                                     class="profile-photo-md pull-left"/>
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="{% url 'exibir_usuario' comentario.usuario.id %}" class="profile-link">{{comentario.usuario}}</a></h5>
                                        <p class="text-muted">{{comentario.descricao}}</p>
                                    </div>
                                </div>
                            {% else %}
                                <img src="{{comentario.colecao.foto_perfil}}" alt="user"
                                         class="profile-photo-md pull-left"/>
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a href="{% url 'exibir_colecao' comentario.colecao.id %}" class="profile-link">{{comentario.colecao}}</a></h5>
                                            <p class="text-muted">{{comentario.descricao}}</p>
                                        </div>
                                    </div>
                            {% endif %}
                        </div>
                    </div>
          {% endfor %}
      {% endif %}
  </div>
</div>