{% extends "flash_base.html" %}

{% block title %}
    News Feed | Check what your friends are doing
{% endblock title %}

{% block body_container %}
    <!-- Newsfeed Common Side Bar Left-->
    <div class="col-md-3 static">
            <div class="profile-card">
                <img src="{{user.perfil.foto_perfil.url}}" alt="user" class="profile-photo"/>
                <h5><a href="{% url 'exibir_minha_timeline' %}" class="text-white">{{usuario_logado.first_name}}
                    {{usuario_logado.last_name}}</a></h5>
                {% if qtd_amigos == 1 %}
                    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{qtd_amigos}} amizade</a>
                {% else %}
                    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{qtd_amigos}} amizades</a>
                {% endif %}
            </div><!--profile card ends-->
            <ul class="nav-news-feed">
                <li><i class="icon ion-ios-paper"></i>
                    <div><a href="{% url 'exibir_newsfeed' %}">FlashFeed</a></div>
                </li>
                <li><i class="icon ion-ios-people"></i>
                    <div><a href="{% url 'exibir_friends_requests' %}">Solicitações Flash</a></div>
                </li>
                <li><i class="icon ion-ios-people-outline"></i>
                    <div><a href="{% url 'exibir_flash_friends' %}">Flash Friends</a></div>
                </li>
                <li><i class="icon ion-chatboxes"></i>
                    <div><a href="newsfeed-messages.html">Messages</a></div>
                </li>
                <li><i class="icon ion-images"></i>
                    <div><a href="newsfeed-images.html">Images</a></div>
                </li>
                <li><i class="icon ion-ios-videocam"></i>
                    <div><a href="newsfeed-videos.html">Videos</a></div>
                </li>
            </ul><!--news-feed links ends-->
    </div>


    <div class="col-md-7">
            <!-- Alert -->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- Post Create Box -->

            {% include 'flash_add_post.html' %}

            <!-- Post Content-->

            {% include 'flash_list_post.html' %}

    </div>

    <!-- Newsfeed Common Side Bar Right-->

    <div class="col-md-2 static">
            <div class="suggestions" id="sticky-sidebar">
                {%if usuarios_nao_amigo.0.id == None %}
                    <h4 class="grey">Encontre seus amigos</h4>
                    <h6>Não existe mais amigos para solicitar. Logo traremos mais sugestões a você ;)</h6>
                {% else %}
                    <h4 class="grey">Encontre seus amigos</h4>
                    {% for usuario in usuarios_nao_amigo %}
                        <div class="follow-user">
                            <img src="{{usuario.perfil.foto_perfil.url}}" alt="" class="profile-photo-sm pull-left"/>
                            <div>
                                <h5><a href="{% url 'exibir_usuario' usuario.id %}">{{usuario.first_name}}
                            {{usuario.last_name}}</a></h5>
                                <a href="{% url 'enviar_pedido' usuario.id %}" class="text-green">Add friend</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
{% endblock body_container %}