
    <!--<div class="col-md-6">
            &lt;!&ndash;Alerts&ndash;&gt;
            {% include 'flash_alert_msg.html' %}

            &lt;!&ndash; Lista de Usuários&ndash;&gt;
            {% if user.is_superuser %}
                {% include 'flash_list_user.html' %}
            {% else %}
                <div class="about-content-block">
                    <div class="organization">
                        <div class="work-info">
                            <h5> Você não é um Super Usuário.</h5>
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endif %}
    </div>-->


    <div class="post-content">
    <div align="center" class="post-container">
        <div class="suggestions">
            <div>
                <a class="navbar-brand" href="#"><img src="flash/comum/static/images/baseline_group_black_18dp.png" alt="icon perfis"/></a>
                <div align="center">
                    <h5 class="gray"> Gerenciar Perfis Super Usuário</h5>
                </div>
            </div>
        </div>
        <div class="suggestions">
            <div>
                <a class="navbar-brand" href="#"><img src="flash/comum/static/images/baseline_group_black_18dp.png" alt="icon perfis"/></a>
                <div align="center">
                    <h5 class="gray"> Gerenciar Perfis Super Usuário</h5>
                </div>
            </div>
        </div>
    </div>
</div>

