<!--NOVO TAMPLATE (MAYELLE)-->
<!--Template de cabeçalho de um perfil-->

<!--Timeline Menu for Large Screens-->
<div class="timeline-nav-bar hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-info">
                <img src="{{usuario.perfil.foto_perfil}}" alt="" class="img-responsive profile-photo"/>
                <h3>{{usuario.first_name}} {{usuario.last_name}}</h3>
                <p class="text-muted">@{{usuario.username}}</p>
            </div>
        </div>
        <div class="col-md-9">
            {% if usuario.id == user.id %}
                <ul class="list-inline profile-menu">
                    <li><a href="{% url 'exibir_minha_timeline' %}">Timeflash</a></li>
                    <li><a href="{% url 'exibir_minhas_colecoes' %}">Minhas Coleções</a></li>
                    <li><a href="{% url 'exibir_flash_friends' %}">Flash Friends</a></li>
                    <li><a href="{% url 'exibir_about' usuario.id %}" class="active">Sobre</a></li>
                    {% if bloqueado == False and eh_amigo %}
                        <li><a href="" data-toggle="modal" data-target="#BlockAlert">Bloquear usuário</a></li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="list-inline profile-menu">
                    <li><a href="{% url 'exibir_usuario' usuario.id %}">Timeflash</a></li>
                    <li><a href="{% url 'exibir_about' usuario.id %}" class="active">Sobre</a></li>
                    {% if bloqueado == False and eh_amigo %}
                        <li><a href="" data-toggle="modal" data-target="#BlockAlert">Bloquear usuário</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            <ul class="follow-me list-inline">
            <li>
                {% if usuario.id == user.id%}
                    <a href="" data-toggle="modal" data-target="#DesativarAlert">
                        <button class="btn-primary" style="background-color: #f7020e">Desativar Perfil</button>
                    </a>
                {% else %}
                    {% if eh_amigo == True %}
                        {% if bloqueado %}
                            <a href="{% url 'desbloquear_usuario' usuario.id %}">
                                <button class="btn-primary" style="background-color: #f7020e">Desbloquear usuário</button>
                            </a>
                        {% else %}
                            <a href="{% url 'desfazer_amizade' usuario.id %}">
                                <button class="btn-primary" style="background-color: #f7020e">Desfazer amizade</button>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if solicitei %}
                            <a href="#">
                                <button class="btn-primary" style="background-color: #ddd; color: black;">Solicitação já enviada
                                </button>
                            </a>
                        {% else %}
                            <a href="{% url 'enviar_pedido' usuario.id %}">
                                <button class="btn-primary">Adicionar aos Flash Friends</button>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        </div>
    </div>
</div><!--Timeline Menu for Large Screens End-->

<!--Timeline Menu for Small Screens-->
<div class="navbar-mobile hidden-lg hidden-md">
    <div class="profile-info">
        <img src="{{user.perfil.foto_perfil.url}}" alt="" class="img-responsive profile-photo"/>
        <h4>{{usuario.first_name}} {{usuario.last_name}}</h4>
        <p class="text-muted">@{{usuario.username}}</p>
    </div>
    <div class="mobile-menu">
        {% if usuario.id == user.id %}
            <ul class="list-inline profile-menu">
                <li><a href="{% url 'exibir_minha_timeline' %}">Timeflash</a></li>
                <li><a href="{% url 'exibir_flash_friends' %}">Flash Friends</a></li>
                <li><a href="{% url 'exibir_about' usuario.id %}" class="active">Sobre</a></li>
                {% if bloqueado == False and eh_amigo %}
                    <li><a href="" data-toggle="modal" data-target="#BlockAlert">Bloquear usuário</a></li>
                {% endif %}
            </ul>
        {% else %}
            <ul class="list-inline profile-menu">
                <li><a href="{% url 'exibir_usuario' usuario.id %}">Timeflash</a></li>
                <!--<li><a href="timeline-friends.html">Flash Friends</a></li>-->
                <li><a href="{% url 'exibir_about' usuario.id %}" class="active">Sobre</a></li>
                {% if bloqueado == False and eh_amigo %}
                    <li><a href="" data-toggle="modal" data-target="#BlockAlert">Bloquear usuário</a></li>
                {% endif %}
            </ul>
        {% endif %}
        <ul class="follow-me list-inline">
            <li>
                {% if usuario.id == user.id%}
                    <a href="" data-toggle="modal" data-target="#DesativarAlert">
                        <button class="btn-primary" style="background-color: #f7020e">Desativar Perfil</button>
                    </a>
                {% else %}
                    {% if eh_amigo == True %}
                        {% if bloqueado %}
                            <a href="{% url 'desbloquear_usuario' usuario.id %}">
                                <button class="btn-primary" style="background-color: #f7020e">Desbloquear usuário</button>
                            </a>
                        {% else %}
                            <a href="{% url 'desfazer_amizade' usuario.id %}">
                                <button class="btn-primary" style="background-color: #f7020e">Desfazer amizade</button>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if solicitei %}
                            <a href="#">
                                <button class="btn-primary" style="background-color: #ddd; color: black;">Solicitação já enviada
                                </button>
                            </a>
                        {% else %}
                            <a href="{% url 'enviar_pedido' usuario.id %}">
                                <button class="btn-primary">Adicionar aos Flash Friends</button>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<div id="BlockAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Block</div>
            <div class="modal-body">Você deseja bloquear {{usuario.first_name}}?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <a href="{% url 'bloquear_usuario' usuario.id %}">
                    <button type="button" class="btn btn-primary">Salvar alterações</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="DesativarAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Desativar</div>
            <div class="modal-body">Você realmente deseja desativar seu perfil?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <a href="{% url 'desativar_perfil' %}">
                    <button type="button" class="btn btn-primary">Salvar alterações</button>
                </a>
            </div>
        </div>
    </div>
</div>