<!DOCTYPE html>
{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>FLASH TIME LINE</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h2 align="center">FLASH TIMELINE:</h2>
        <div class="page-header">
            <p>ADICIONAR NOVA POSTAGEM:</p>
            <a href="{% url 'add_post' %}" class="to-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="container">
            <p>LISTAR POSTAGENS:</p>

        </div>

    </body>
</html>